.text-input-component {
  height: 56px;
  border-radius: 28px;
  background-color: #ffffff;
  border: none;
  outline: none;
  padding-left: 24px;
  padding-right: 24px;
  &::placeholder {
    color: rgba(0, 0, 0, 0.8);
  }
  font: normal 300 18px/21px "Roboto";
}
