.button-component {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 56px;
  background: #2176ff;
  border-radius: 28px;
  padding-left: 28px;
  padding-right: 28px;

  border: none;
  color: white;
}
