@import "./../../../variables.scss";
// @import "variables.scss";

.button-component {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 56px;
  background: $primary-color;
  border-radius: 28px;
  padding-left: 28px;
  padding-right: 28px;

  border: none;
  color: white;
  font: normal 300 18px/22px "Roboto";
}
